In [283]:
df[cat_columns]

    State Area code International plan Voice mail plan
0      KS       415                 No             Yes
1      OH       415                 No             Yes
2      NJ       415                 No              No
3      OH       408                Yes              No
4      OK       415                Yes              No
..    ...       ...                ...             ...
662    WI       415                 No             Yes
663    AL       408                 No             Yes
664    VT       415                 No              No
665    WV       415                 No              No
666    CT       510                Yes              No

[3333 rows x 4 columns]

In [284]:
df[cat_columns].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3333 entries, 0 to 666
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               3333 non-null   object
 1   Area code           3333 non-null   object
 2   International plan  3333 non-null   object
 3   Voice mail plan     3333 non-null   object
dtypes: object(4)
memory usage: 259.2+ KB

In [182]:
enc.transform(df[cat_columns]).toarray()

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.]])

In [262]:
enc.get_feature_names_out()

array(['State_AK', 'State_AL', 'State_AR', 'State_AZ', 'State_CA',
       'State_CO', 'State_CT', 'State_DC', 'State_DE', 'State_FL',
       'State_GA', 'State_HI', 'State_IA', 'State_ID', 'State_IL',
       'State_IN', 'State_KS', 'State_KY', 'State_LA', 'State_MA',
       'State_MD', 'State_ME', 'State_MI', 'State_MN', 'State_MO',
       'State_MS', 'State_MT', 'State_NC', 'State_ND', 'State_NE',
       'State_NH', 'State_NJ', 'State_NM', 'State_NV', 'State_NY',
       'State_OH', 'State_OK', 'State_OR', 'State_PA', 'State_RI',
       'State_SC', 'State_SD', 'State_TN', 'State_TX', 'State_UT',
       'State_VA', 'State_VT', 'State_WA', 'State_WI', 'State_WV',
       'State_WY', 'Area code_408', 'Area code_415', 'Area code_510',
       'International plan_No', 'International plan_Yes',
       'Voice mail plan_No', 'Voice mail plan_Yes'], dtype=object)

In [267]:
enc.transform([['KS'], ['415'], ['No'], ['Yes']])

ValueError: X has 1 features, but OneHotEncoder is expecting 4 features as input.

In [271]:
['KS', '415', 'No', 'Yes']

['KS', '415', 'No', 'Yes']

In [285]:
a = pd.DataFrame({'State':['KS'], 'Area code':[415], 'International plan':['No'], 'Voice mail plan':['Yes']})

In [286]:
a

  State  Area code International plan Voice mail plan
0    KS        415                 No             Yes

In [288]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               1 non-null      object
 1   Area code           1 non-null      int64
 2   International plan  1 non-null      object
 3   Voice mail plan     1 non-null      object
dtypes: int64(1), object(3)
memory usage: 160.0+ bytes

In [290]:
a['Area code'] = a['Area code'].astype('object')

In [291]:
a

  State Area code International plan Voice mail plan
0    KS       415                 No             Yes

In [293]:
enc.transform(a[cat_columns])

<1x58 sparse matrix of type '<class 'numpy.float64'>'
	with 4 stored elements in Compressed Sparse Row format>

In [295]:
enc.transform(a[cat_columns]).toarray()

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 1., 0., 1., 0., 0., 1.]])

In [ ]:
df[cat_columns]

df[cat_columns].info()

enc.transform(df[cat_columns]).toarray()

enc.get_feature_names_out()

enc.transform([['KS'], ['415'], ['No'], ['Yes']])

['KS', '415', 'No', 'Yes']

a = pd.DataFrame({'State':['KS'], 'Area code':[415], 'International plan':['No'], 'Voice mail plan':['Yes']})

a

a.info()

a['Area code'] = a['Area code'].astype('object')

a

enc.transform(a[cat_columns])

enc.transform(a[cat_columns]).toarray()